name: Docker Build

on:
  workflow_call:
    inputs:
      version:
        description: "Release version to build and push (e.g. 1.0.0). When set, image is pushed."
        required: false
        type: string
    secrets:
      DOCKERHUB_PASSWORD:
        description: "The Docker Hub password"
        required: true

permissions:
  contents: read

jobs:
  build:
    name: Build Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ (inputs.version && format('v{0}', inputs.version)) || github.ref }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          context: git
          images: |
            playerdata/numaflow-mqtt-source
          tags: |
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: playerdata
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          push: ${{ inputs.version != null }}
