name: CI

on:
  pull_request: {}
  push:
    branches: [main]

jobs:
  test:
    name: Test
    uses: ./.github/workflows/test.yaml

  lint:
    name: Lint
    uses: ./.github/workflows/lint.yaml

  release:
    name: Release
    needs: [test, lint]
    uses: ./.github/workflows/release.yaml

  build:
    name: Build
    needs: [release]
    uses: ./.github/workflows/build.yaml
    with:
      version: ${{ needs.release.outputs.new_release_version }}
    secrets:
      DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
