name: Lint

on:
  workflow_call: {}

permissions:
  contents: read

jobs:
  clippy:
    name: Clippy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cargo fmt
        run: cargo fmt -- --check

      - name: Run Clippy
        run: cargo clippy -- -D warnings
