name: Release

permissions:
  contents: write
  pull-requests: write
  issues: write

on:
  workflow_call:
    outputs:
      new_release_published:
        description: "Whether a new release was published"
        value: ${{ jobs.release.outputs.new_release_published }}
      new_release_version:
        description: "The version of the new release"
        value: ${{ jobs.release.outputs.new_release_version }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Semantic Release
        id: semantic-release
        uses: cycjimmy/semantic-release-action@v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    outputs:
      new_release_published: ${{ steps.semantic-release.outputs.new_release_published }}
      new_release_version: ${{ steps.semantic-release.outputs.new_release_version }}
